{% extends "base.html" %}

{% block title %}Fruits Page{% endblock %}

{% block content %}
    <div>
    <h1>Home</h1>
    <p class="mb-5">Our Store is a great little grab and go for all your organic produce and product needs! With a dedicated bulk food corner, plenty of dry and refrigerated goods, certified organic produce area, and a MO Wholefood Café, we’ve got you covered.</p>
    <h5>675 SANDGATE ROAD, CLAYFIELD 4011</h5>
    <h5 class="mb-3">(07) 3862 3563</h5>
    <img src="static/images/homepage_img1.jpg" width="100%" alt="image">
    </div>
    

    <div class="mt-3">
      <h4>Opening Hours</h4>
      <p>Store hours below are subject to change during public holidays.</p>
      <p>Mon: 7:30am - 6:30pm </p>
      <p>Tue: 7:30am - 6:30pm </p>
      <p>Wed: 7:30am - 6:30pm </p>
      <p>Thu: 7:30am - 6:30pm </p>
      <p>Fri: 7:30am - 6:30pm </p>
      <p>Sat: 7:30am - 6:30pm </p>
      <p>Sun: 7:30am - 6:30pm </p>
    </div>

 


{% endblock %}